.side-img {
    background: url(../../assets/vaccine-one.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
}

.primary-color {
    background-color: #517DB5;
}

.font-signika {
    font-family: Signika;
}